.form_input_container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
  .form_title {
    width: 146px;
    height: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin: auto;
  }

  input {
    width: 419px;
    height: 50px;
    background: #ffffff;
    border: 2px solid #bcbcbc;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 44px;
  }

  .form_label {
    width: 35px;
    height: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #343434;
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
  }