.userDropdown__dropdown {
  position: absolute;
  width: 158px;
  height: 158px;
  background-color: #c50829;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.01);
  border-radius: 14px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 99;
  margin-top: 12px;
  right: 12px;
}
.userDropdown_anchor {
  display: flex;
  height: 52px;
  width: 80%;
}
.userAvatar_container {
  width: 52px;
  height: 52px;
  left: 1342px;
  top: 18px;
  border-radius: 150px;
}
.userDropdown__userfullName {
  width: 47px;
  height: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: white;
  margin-bottom: 2px;
  cursor: pointer;

}
.userDropdown__dropdown__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-top: 10px;
  text-align: left;
  cursor: pointer;
}
